@using System.Web.Mvc.Html
@using SearchParty.Core.Models
@model Resource

@{
    ViewBag.Title = "title";
}

<h2>Test Form for adding resource. Delete when no longer needed</h2>

<form action="@Url.Action("Update", "Resource")" method="POST">
@Html.TextBoxFor(r => r.Id)
@Html.TextBoxFor(r => r.Tags)
@Html.TextBoxFor(r => r.Title)
@Html.TextBoxFor(r => r.ShortDescription)
@Html.TextBoxFor(r => r.Uri)
@Html.TextBoxFor(r => r.ResourceType)
@Html.TextBoxFor(r => r.LongDescription)
<input type="submit" />
</form>